* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #177217 !important;
  position: relative;
  font-family: oswald !important; }

header {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.89);
  position: sticky;
  top: 0;
  z-index: 50; }
  header nav {
    min-width: 100%;
    min-height: 15vh; }
    @media (min-width: 768px) {
      header nav #logo {
        position: relative;
        left: 100px; } }
    header nav #Main-nav {
      position: relative; }
      @media (min-width: 992px) {
        header nav #Main-nav ul {
          position: absolute;
          right: 50px; } }
      header nav #Main-nav ul li {
        list-style-type: none; }
        @media (min-width: 992px) {
          header nav #Main-nav ul li {
            padding-right: 20px; } }
        header nav #Main-nav ul li a {
          font-size: 1rem;
          font-family: oswald !important;
          color: #d5ff9f !important; }
          @media (min-width: 992px) {
            header nav #Main-nav ul li a {
              font-size: 1.5rem; } }
    header nav button {
      background-color: #d5ff9f !important; }

main {
  min-height: 75vh; }

.h-ban {
  font-size: 1.5rem;
  font-family: oswald;
  text-align: center;
  color: white; }
  @media (min-width: 768px) {
    .h-ban {
      font-size: 2.5rem; } }
  @media (min-width: 992px) {
    .h-ban {
      font-size: 3rem; } }
  .h-ban a:link, .h-ban a:visited, .h-ban a:active {
    text-decoration: none;
    color: white; }

section {
  border-radius: 1%;
  min-height: 30vh;
  max-width: 98%;
  background-color: rgba(191, 238, 129, 0.76);
  margin: 10px; }
  section h2 {
    font-size: 2rem;
    font-family: oswald;
    text-align: center; }
  section p {
    font-size: 1.2rem;
    font-family: oswald; }
  section .card {
    background-color: rgba(218, 233, 185, 0.76); }
  section a:link, section a:visited, section a:active {
    text-decoration: none;
    color: #d5ff9f;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3;
    padding: 2px; }

aside {
  border-radius: 1%;
  min-height: 30vh;
  max-width: 98%;
  background-color: rgba(191, 238, 129, 0.76);
  margin: 10px; }
  aside h2 {
    font-size: 2rem;
    font-family: oswald;
    text-align: center; }
  aside p {
    font-size: 1.2rem;
    font-family: oswald; }

footer {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.89);
  position: relative;
  bottom: 0; }
  footer #iconos i {
    font-size: 2rem;
    padding: 0 35px;
    color: #d5ff9f; }
    @media (max-width: 576px) {
      footer #iconos i {
        font-size: 1.5rem; } }
