* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #177217 !important;
  position: relative;
  font-family: oswald !important; }

header {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.89);
  position: sticky;
  top: 0;
  z-index: 50; }
  header nav {
    min-width: 100%;
    min-height: 15vh; }
    @media (min-width: 768px) {
      header nav #logo {
        position: relative;
        left: 100px; } }
    header nav #Main-nav {
      position: relative; }
      @media (min-width: 992px) {
        header nav #Main-nav ul {
          position: absolute;
          right: 50px; } }
      header nav #Main-nav ul li {
        list-style-type: none; }
        @media (min-width: 992px) {
          header nav #Main-nav ul li {
            padding-right: 20px; } }
        header nav #Main-nav ul li a {
          font-size: 1rem;
          font-family: oswald !important;
          color: #d5ff9f !important; }
          @media (min-width: 992px) {
            header nav #Main-nav ul li a {
              font-size: 1.5rem; } }
    header nav button {
      background-color: #d5ff9f !important; }

main {
  min-height: 75vh; }

#carrusel h1 {
  font-size: 2rem;
  font-family: oswald;
  text-align: center;
  color: white; }

section {
  border-radius: 1%;
  min-height: 30vh;
  max-width: 98%;
  background-color: rgba(191, 238, 129, 0.76);
  margin: 10px; }
  section #sect-index h2 {
    font-size: 2rem;
    font-family: oswald;
    text-align: center; }
  section p {
    font-size: 1rem;
    font-family: oswald; }

aside {
  border-radius: 1%;
  min-height: 30vh;
  max-width: 98%;
  background-color: rgba(191, 238, 129, 0.76);
  margin: 10px; }
  aside h2 {
    font-size: 2rem;
    font-family: oswald;
    text-align: center; }
  aside p {
    font-size: 1rem;
    font-family: oswald; }
