main {
    min-height: 75vh;   
}

// imagénes carrusel y banners
    .h-ban {
        font-size: 1.5rem;
        font-family: $fuente-txt;
        text-align: center;
        color: $color-txt;
        
        

        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3rem;
        }

        & a:link, a:visited, a:active {
            text-decoration:none;
            color: $color-txt;
        }
    }

// secciones

section {
    border-radius: 1%;
    min-height: 30vh;
    max-width: 98%;
    background-color: $color-sec;
    margin: 10px;
    
   
       
    
    & h2 {            
            font-size: 2rem;
            font-family: $fuente-txt;
            text-align: center;
    }

  
    & p {
        font-size: 1.2rem;
        font-family: $fuente-txt;
    }

    & .card {
        background-color: $color-cards;
      
       
    }

    & a:link, a:visited, a:active {
        text-decoration:none;
        color: $color-li;
        background-color: rgba(0, 0, 0, 0.89);
        border-radius: 3;
        padding: 2px;
    }

}

//aside

aside {
    border-radius: 1%;
    min-height: 30vh;
    max-width: 98%;
    background-color: $color-sec;
    margin: 10px;

    & h2 {            
        font-size: 2rem;
        font-family: $fuente-txt;
        text-align: center;
    }
    
    & p {
        font-size: 1.2rem;
        font-family: $fuente-txt;
    }

    
}