$color-body: rgb(23, 114, 23);
$color-head-foot: rgba(0, 0, 0, 0.89);
$color-sec: rgba(191, 238, 129, 0.76);
$color-cards: rgba(218, 233, 185, 0.76);
$color-li: rgb(213, 255, 159);
$color-txt: white;
$color-button: rgb(213, 255, 159);
$fuente-txt: oswald;